@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 100;
    src: url(fonts/Catamaran-Thin.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 200;
    src: url(fonts/Catamaran-ExtraLight.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Catamaran-Light.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Catamaran-Regular.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Catamaran-Medium.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 600;
    src: url(fonts/Catamaran-SemiBold.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Catamaran-Bold.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/Catamaran-ExtraBold.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Catamaran-Black.ttf);
}

@font-face {
    font-family: "Material icons Round";
    font-style: normal;
    font-weight: 400;
    src: url(icons/MaterialIconsRound-Regular.otf);
}

@font-face {
    font-family: "Inter";
    src: url(fonts/Inter-VariableFont_opsz,wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(fonts/Inter-Italic-VariableFont_opsz,wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: italic;
}