#node-content .box-head .exe-icon.box-icon:hover img {
    background: none;
}

.exe-actions-menu button .auto-icon {
    color: #666;
    font-size: var(--h4-fs);
}

.page-content-template #node-content {
    min-height: var(--min-node-content-height);
    border-radius: var(--radius);
    padding: var(--margin-s);
    margin: var(--margin-s);
    min-height: calc(100% - var(--margin-s) * 4);
    height: auto;
}

:root {
    --dark-exe-color: rgba(112, 163, 0, 1);
    --dark-exe-color-text: #577e02;
    --dark-exe-color-08: rgba(112, 163, 0, 0.8);
    --dark-exe-color-06: rgba(112, 163, 0, 0.6);
    --dark-exe-color-04: rgba(112, 163, 0, 0.4);
}

body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
