.btn,
.btn span {
    font-size: 13px;
    font-weight: 500;
    color: var(--text);
    padding: 0;
}

/* Hyerarchy: Display > Primary > Secondary > Tertiary */

.button-display {
    height: 36px;
    gap: 6px;
    border-radius: 24px;
    font-weight: 500;
    padding: 0 12px;
    background: var(--brand-gradient);

    &:hover,
    &:active {
        background: var(--brand-gradient-dark) !important;
        color: var(--white);
    }

    span {
        color: var(--white) !important;
        font-size: 14px !important;
    }
}

.btn.button-primary {
    height: 36px;
    padding: 0 12px;
    background-color: var(--brand-primary) !important;
    gap: .375rem;
    color: var(--white) !important;
    &:hover,
    &:active {
        background-color: var(--brand-primary-dark) !important;
        color: var(--white);
    }
}

.btn.button-secondary {
    height: 36px;
    padding: 0 12px;
    background-color: var(--gray-10) !important;
    gap: .375rem;
    &:hover,
    &:active {
        background-color: var(--gray-30) !important;
    }

    &.secondary-green {
        background-color: var(--brand-primary-05) !important;
        &:hover,
        &:active {
            background-color: var(--brand-primary-20) !important;
        }
        /* Bootstrap overrides */
        --bs-btn-active-border-color: var(--brand-primary-30) !important;
    }
}

.btn.button-tertiary {
    height: 36px;
    padding: 0 12px;
    gap: .375rem;
    &:hover {
        background-color: var(--gray-10) !important;
    }
}

/* Shape */

.btn.button-square {
    width: 36px;
    height: 36px;
    padding: 0 !important;
    &.square-small {
        width: 24px;
        height: 24px;
    }
    &.fixed-border {
        border: 1px solid var(--gray-20);
    }
}

.btn.button-narrow {
    width: 28px !important;
    height: 36px;
    padding: 0 !important;
    justify-content: center;
}

/* Role */

.btn.button-dropdown {
    padding: 0 24px 0 4px !important;

    > .dropdown-toggle::after {
        content: "";
        margin-left: 0;
        vertical-align: 0;
        border: 0;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("images/icons/exe-chevron-icon-green.svg");
        position: absolute;
        top: 8px;
        right: 8px;
    }
}

.btn.button-combo {
    &.combo-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.combo-center {
        border-radius: 0;
    }
    &.combo-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

/*
PENDING Add to Docs:
Flexbox Bootstrap 5 helpers:
    - Center start: d-flex align-items-center justify-content-start
    - Center center: d-flex justify-content-center align-items-center
*/