.toasts-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 2px;
    .toast {
        margin-top: 2px;
        &.hiding {
            opacity: 0;
            transition: all 2s ease-in;
        }
        .exe-icon {
            content: "menu";
            font-family: var(--icons-ff);
            float: left;
            margin-right: var(--margin-m);
            margin-top: -1px;
            font-size: larger;
        }
        .toast-body {
            background-color: var(--dragging-exe-color);
            &.error {
                background-color: var(--error-bg);
            }
        }
    }
}