body > .tooltip {
    filter: grayscale(1);
    z-index: 100000;
    display: none;
}

.tooltip.bs-tooltip-end .tooltip-inner {
    position: relative;
    top: 8px;
}

.tooltip-inner {
    background-color: var(--dark-exe-color-text);
    opacity: 1 !important;
}

.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: var(--dark-exe-color-text) !important;;
}

.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: var(--dark-exe-color-text) !important;;
}

.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: var(--dark-exe-color-text) !important;;
}

.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: var(--dark-exe-color-text) !important;;
}