.asideleft {
    padding: 30px 0 10px 0;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
    transition:
            width var(--sidebar),
            padding var(--sidebar);
    width: 33%;
    max-width: 400px;
    max-height: 100vh;
    overflow: hidden;
    .content-info,
    #exe-logo,
    #exe-title,
    #menu_nav,
    #menu_idevices {
        transition: opacity var(--sidebar), visibility var(--sidebar);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .main-menu {
        transition: width var(--sidebar);
        width: 100%;
    }
    .content-info {
        margin-bottom: 30px;
        padding: 0 20px 0 10px;
        #exe-logo {
            margin-bottom: 10px;
            img {
                height: 30px;
                width: auto;
            }
        }
        #exe-title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            h2 {
                display: -webkit-box;
                font-size: 16px;
                font-weight: 600;
                padding: 4px 8px;
                border: 1px solid transparent;
                margin-bottom: 0;
                &:not([contenteditable="true"]) {
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-height: 46px;
                }
                &[contenteditable="true"] {
                    outline: none;
                    border: 1px solid var(--border-buttons);
                    border-radius: 4px;
                    background-color: #f9f9f9;
                    transition: box-shadow 0.2s ease, background-color 0.2s ease;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
                    max-width: 100%;
                    overflow: hidden;
                }
            }
            .change-title {
                font-family: var(--icons-ff);
                cursor: pointer;
                margin-left: 12px;
                font-size: 18px;
                color: #667085;
                &:hover {
                    background-color: var(--gray-30);
                }
            }
        }
    }
}