#load-screen-main {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    opacity: 1;
    background-color: #fff;
    background-image: url('images/exe-text-logo-electric-turquoise.svg');
    background-size: 250px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 40%;
    &.expired {
        padding: 0 40px;

        .alert {
            text-align: center;
            max-width: 700px;
            margin: calc(25vh + 205px) auto 0 auto;
        }
    }
    &.hide {
        display: none;
    }
    &.hiding {
        opacity: 0;
        transition: var(--tr-04);
    }
    &.loading {
        span {
            display: block;
            text-align: center;
            opacity: .8;
            position: relative;
            top: 58%;

            @media (min-height: 460px) {
                top: 49%;
            }

            @media (min-height: 700px) {
                top: 45.5%;
            }

            @media (min-height: 900px) {
                top: 44%;
            }

            @media (min-height: 1000px) {
                top: 42%;
            }
        }
        &:after {
            content: "";
            width: 96px;
            height: 96px;
            background-image: url(images/loading.gif);
            background-size: 96px;
            display: block;
            position: absolute;
            left: calc(50vw - 50px);
            top: calc(25vh + 200px);
        }
    }
    span {
        display: none;
        white-space: nowrap;
    }
}
